@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Anton|Nosifer');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Loved+by+the+King|Pangolin');

@media only screen 
  and (min-device-width: 320px) 
    and (max-device-width: 480px){
          background-image: linear-gradient(to bottom, gold, gold 10%, black 10%, black 25%, gold 25%, gold 33%, #febb0c 59%);
}

@media (min-device-width: 850px) {
          background-image: linear-gradient(to bottom, gold, gold 5%, black 5%, black 25%, gold 25%, gold 33%, #febb0c 59%);
}

//.uk-width-1-2\@s{
//  width: 100%
//}
//.mejs__container{
//    width: 90%;
//}
//.mejs__mediaelement{
//    width: 90%;
//}

// #mep_0{
//   width: 90%;
// }
// .mejs__video{
//   width: 1000px;
// }
// .mejs_-time-rail{
//   width: 720px;
// }

//BACKGROUND GRADIENT
html{ 
  background-image: linear-gradient(to bottom, gold, gold 15%, black 15%, black 25%, gold 25%, gold 33%, #febb0c 59%);
}


article{
  width: 100%;
}
// HEADLINE
h1{
    text-transform: uppercase;
    font-family: 'Anton', Arial, sans-serif;
    margin: 8px auto;
    padding: 10px;
    text-align: center;
    font-size: 6em;
    color: black;
    line-height: 1.1em;
}

h2{
    text-transform: uppercase;
    font-family: 'Anton', Arial, sans-serif;
    margin: 0px auto;
    padding: 0px;
    font-size: 2.6em;
    color: black;
    text-shadow: 3px 2px 0px darkgrey;
}

h3{
    color: black;
    text-transform: uppercase;
    font-family: 'Anton', Arial, sans-serif;
    margin: -25px auto;
    padding: 0px;
    text-align: center;
    font-size: 1.8em;
}

.synopsis{
  font-size: 1.2em;
  
}

.char1, .char6{
  letter-spacing: -21px;
}

.char2, .char7{
  color: red;
  font-size: 1.25em;
  font-family: 'Pangolin', cursive;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
}

//IMAGE GALLERY
ul{
  list-style-type: none;
}

gallery{
  display: block;
  width: 100%;
}

.uma{
  background-image: url(../img/uma.jpg);
  background-repeat: no-repeat;
}

.uma:hover{
  background-image: url(../img/bride.jpg);
  background-repeat: no-repeat;
  transition: background-image .8s ease;
}

.lucy{
  background-image: url(../img/lucy.jpg);
  background-repeat: no-repeat;
}

.lucy:hover{
  background-image: url(../img/oren.jpg);
  background-repeat: no-repeat;
}

.vivica{
  background-image: url(../img/vivica.jpg);
  background-repeat: no-repeat;
}

.vivica:hover{
  background-image: url(../img/vernita.jpg);
  background-repeat: no-repeat;
}

.daryl{
  background-image: url(../img/daryl.jpg);
  background-repeat: no-repeat;
}

.daryl:hover{
  background-image: url(../img/elle.jpg);
  background-repeat: no-repeat;
}

.michael{
  background-image: url(../img/michael.jpg);
  background-repeat: no-repeat;
}

.michael:hover{
  background-image: url(../img/budd.jpg);
  background-repeat: no-repeat;
}

.julie{
  background-image: url(../img/julie.jpg);
  background-repeat: no-repeat;
}

.julie:hover{
  background-image: url(../img/sofie.jpg);
  background-repeat: no-repeat;
}

.chiaki{
  background-image: url(../img/chiaki.jpg);
  background-repeat: no-repeat;
}

.chiaki:hover{
  background-image: url(../img/gogo.jpg);
  background-repeat: no-repeat;
}

.sonny{
  background-image: url(../img/sonny.jpg);
  background-repeat: no-repeat;
}

.sonny:hover{
  background-image: url(../img/hattori.jpg);
  background-repeat: no-repeat;
}

.gordon{
  background-image: url(../img/gordon.jpg);
  background-repeat: no-repeat;
}

.gordon:hover{
  background-image: url(../img/johnny.jpg);
  background-repeat: no-repeat;
}

.parks{
  background-image: url(../img/parks.jpg);
  background-repeat: no-repeat;
}

.parks:hover{
  background-image: url(../img/earl.jpg);
  background-repeat: no-repeat;
}

.david{
  background-image: url(../img/david.jpg);
  background-repeat: no-repeat;
}

.david:hover{
  background-image: url(../img/bill.jpg);
  background-repeat: no-repeat;
}

li{
  width: 150px;
  height: 200px;
  margin: 10px;
  position: relative;
  display: inline-block;
  border: 10px solid black;
  box-shadow: darkgoldenrod 5px 5px 5px;
  transition: background-image .8s ease;
  border-radius: 16px;
  background: black;
}
actor{
    padding-top: 80px;
    font-size: 1.3em;
    position: absolute;
    bottom: 0;
    left: 2px;
    font-family: 'Anton', Arial, sans-serif;
    color: gold;
    text-shadow: 3px 2px 0px black;
}

//FOOTER
.credits{
  width: 78%;
  margin: auto;
  text-transform: uppercase;
  font-size: .8em;
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 30px;
}

.smaller{
    text-transform: uppercase;
    font-size: .66em;
}


