@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Anton|Nosifer');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Loved+by+the+King|Pangolin');
/*
font-family: 'Anton', sans-serif;
font-family: 'Nosifer', cursive;
*/

// #mep_0{
//   width: 900px;
// }
// .mejs__video{
//   width: 1000px;
// }
// .mejs_time_rail{
//   width: 720px;
// }

.uk-width-1-2\@s{
  width: 100%
}


//BACKGROUND GRADIENT
html{ 
  background-image: linear-gradient(to bottom, gold, gold 15%, black 15%, black 25%, gold 25%, gold 33%, #febb0c 59%);
}


article{
  width: 100%;
}
// headline
h1{
    text-transform: uppercase;
    font-family: 'Anton', Arial, sans-serif;
    margin: 8px auto;
    padding: 10px;
    text-align: center;
    font-size: 6em;
    color: black;
    line-height: 1.1em;
}

h2{
    text-transform: uppercase;
    font-family: 'Anton', Arial, sans-serif;
    margin: 0px auto;
    padding: 0px;
    font-size: 2.6em;
    color: black;
    text-shadow: 3px 2px 0px darkgrey;
}

h3{
    color: black;
    text-transform: uppercase;
    font-family: 'Anton', Arial, sans-serif;
    margin: -25px auto;
    padding: 0px;
    text-align: center;
    font-size: 1.8em;
}

.synopsis{
  font-size: 1.2em;
  
}

.char1, .char6{
  letter-spacing: -21px;
}

.char2, .char7{
  color: red;
  font-size: 1.25em;
  font-family: 'Pangolin', cursive;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
}

//IMAGE GALLERY
ul{
  list-style-type: none;
}

gallery{
  display: block;
  width: 100%;
}

// gallery li{
//   width: 150px;
//   height: 200px;
//   margin: 10px;
//   background-image: url(../img/uma1.jpg);
//   background-repeat: no-repeat;
//   position: relative;
//   display: inline-block;
//   border: 10px solid black;
//   box-shadow: darkorange 5px 5px 5px;
//   transition: background-image .8s ease;
//   border-radius: 16px;
// }

// gallery li:hover{
//   width: 150px;
//   height: 200px;
//   margin: 10px;
//   background-image: url(../img/bride1.jpg);
//   background-repeat: no-repeat;
// }

.uma{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/uma.jpg);
  background-repeat: no-repeat;
//   position: relative;
//   display: inline-block;
//   border: 10px solid black;
//   box-shadow: darkorange 5px 5px 5px;
//   transition: background-image .8s ease;
//   border-radius: 16px;
}

.uma:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/bride.jpg);
  background-repeat: no-repeat;
  transition: background-image .8s ease;
}

.lucy{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/lucy.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.lucy:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/oren.jpg);
  background-repeat: no-repeat;
}

.vivica{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/vivica.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.vivica:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/vernita.jpg);
  background-repeat: no-repeat;
}

.daryl{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/daryl.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.daryl:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/elle.jpg);
  background-repeat: no-repeat;
}

.michael{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/michael.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.michael:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/budd.jpg);
  background-repeat: no-repeat;
}

.julie{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/julie.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.julie:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/sofie.jpg);
  background-repeat: no-repeat;
}

.chiaki{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/chiaki.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.chiaki:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/gogo.jpg);
  background-repeat: no-repeat;
}

.sonny{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/sonny.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.sonny:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/hattori.jpg);
  background-repeat: no-repeat;
}

.gordon{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/gordon.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.gordon:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/johnny.jpg);
  background-repeat: no-repeat;
}

.parks{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/parks.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkorange 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.parks:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/earl.jpg);
  background-repeat: no-repeat;
}

.david{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/david.jpg);
  background-repeat: no-repeat;
  // position: relative;
  // display: inline-block;
  // border: 10px solid black;
  // box-shadow: darkgoldenrod 5px 5px 5px;
  // transition: background-image .8s ease;
  // border-radius: 16px;
}

.david:hover{
  // width: 150px;
  // height: 200px;
  // margin: 10px;
  background-image: url(../img/bill.jpg);
  background-repeat: no-repeat;
}

li{
  width: 150px;
  height: 200px;
  margin: 10px;
  position: relative;
  display: inline-block;
  border: 10px solid black;
  box-shadow: darkgoldenrod 5px 5px 5px;
  transition: background-image .8s ease;
  border-radius: 16px;
  background: black;
}
actor{
    padding-top: 80px;
    font-size: 1.3em;
    position: absolute;
    bottom: 0;
    left: 2px;
    font-family: 'Anton', Arial, sans-serif;
    color: gold;
    text-shadow: 3px 2px 0px black;
}

//FOOTER
.credits{
  width: 78%;
  margin: auto;
  text-transform: uppercase;
  font-size: .8em;
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 30px;
}

.smaller{
    text-transform: uppercase;
    font-size: .66em;
}


